*.bs
*.tar.gz

**/*.xs.cc
**/*.o.tmp

blib

/inc/**
/Makefile
/Makefile.old
/Makefile.test

/META.yml
/META.json
/MYMETA.yml
/MYMETA.json

/pm_to_blib
/MANIFEST
/MANIFEST.bak

/dll.base
/dll.exp

*.o
*.a
*.lo
*.la
*.so
*.dll

.gdb_history

CMakeFiles
CMakeCache.txt
*.deps
*.cmake
